<!-- Adsterra Ads -->
{{ if .Site.Params.adsterra_enabled }}
<div class="adsterra-ads" style="margin: 2rem 0; text-align: center; min-height: 90px;">

  <!-- 728x90 Banner -->
  <script>
    atOptions = {
      'key' : '6001423a5dd6f3bf081da5230bb2a615',
      'format' : 'iframe',
      'height' : 90,
      'width' : 728,
      'params' : {}
    };
  </script>
  <script src="https://www.highperformanceformat.com/6001423a5dd6f3bf081da5230bb2a615/invoke.js"></script>

  <!-- Effective CPM / Adsterra Network -->
  <script async="async" data-cfasync="false" src="https://pl29637226.effectivecpmnetwork.com/42682bfc0b1359991ace27c53ecba6a2/invoke.js"></script>
  <div id="container-42682bfc0b1359991ace27c53ecba6a2"></div>
  <script src="https://pl29637227.effectivecpmnetwork.com/1e/f6/66/1ef666579b26cdf591d09e8600762d78.js"></script>

</div>
{{ end }}
